@font-face {
  font-family: TTHoves-Regular;
  src: url("../Fonts/TTHoves-Regular.ttf");
}
@font-face {
  font-family: "TTHoves-Bold";
  src: url("../Fonts/TTHoves-Bold.ttf");
}
@font-face {
  font-family: "TTHoves-Medium";
  src: url("../Fonts/TTHoves-Medium.ttf");
}
@font-face {
  font-family: "TTHoves-Light";
  src: url("../Fonts/TTHoves-Light.ttf");
}
