@font-face {
  font-family: "TTHRegular";
  font-display: swap;
  src: url("/src/assets/fonts/TTHRegular.ttf") format("truetype");
  font-style: normal;
}
@font-face {
  font-family: "TTHMedium";
  font-display: swap;
  src: url("/src/assets/fonts/TTHoves-Medium.ttf") format("truetype");
  font-style: normal;
}
@font-face {
  font-family: "TTHLight";
  font-display: swap;
  src: url("/src/assets/fonts/TTHoves-Light.ttf") format("truetype");
  font-style: normal;
}
@font-face {
  font-family: "TTHBold";
  font-display: swap;
  src: url("/src/assets/fonts/TTHoves-Bold.ttf") format("truetype");
  font-style: normal;
}
