// $color-brand_yellow: #fad308;
// $bg-color-blue-light: #2b76a0;
// $color-blue: #0b6ea5;
// $color-dark_main: #5b5b5b;
// $bg-color-ground: #f6f6f6;

$mobile: 320px;
$responsive: 480px;
$tablet: 768px;
$desktop: 1440px;
