@import "../../Shared/styles/index";

.Navigation {
  display: flex;
  align-items: center;
  padding-top: 29.14px;
  padding-bottom: 31.33px;
}
.logo {
  width: 70px;
  height: 43.714px;
}

.listNav {
  display: flex;
  align-items: center;

  margin-left: 330px;
}
.listNavItem {
  color: var(--gray-1, #333);
  font-family: "TTHRegular";
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 2.4px;
  text-transform: uppercase;
}
.listNavItem:not(:last-child) {
  margin-right: 60px;
}
